<main class="container">
    <app-root>
        Loading...
    </app-root>
    <br /><br />
</main>

<!-- Angular scripts -->
<script src="dist/runtime-es2015.js" type="module"></script>  
<script src="dist/runtime-es5.js" nomodule defer></script>
<script src="dist/polyfills-es5.js" nomodule defer></script>
<script src="dist/polyfills-es2015.js" type="module"></script>
<script src="dist/styles-es2015.js" type="module"></script>
<script src="dist/styles-es5.js" nomodule defer></script>
<script src="dist/vendor-es2015.js" type="module"></script>
<script src="dist/vendor-es5.js" nomodule defer></script>
<script src="dist/main-es2015.js" type="module"></script>
<script src="dist/main-es5.js" nomodule defer></script>